{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação de Usuários</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <h2>Seja Bem Vindo ao Meu Sistema de Login</h2>
        {% if user.is_authenticated %}
        <h3>Olá {{ fname }}</h3>
        <h4>Entrou com sucesso em sua conta!</h4>
        <a href="/signout" class="button">SignOut</a>
        {% else %}
        <a href="/signup" class="button">Criar</a>
        <a href="/signin" class="button">Entrar</a>
        {% endif %}
    </main>
</body>
</html>
