<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação de Usuários</title>
</head>
<body>  

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


        <h3>Criação de Conta</h3>

        <form action="/signup" method="post">
        {% csrf_token %}
            <label for="">Nome de Usuario</label>
            <input type="text" id="username" name="username" placeholder="Crie um nome de usuário (apenas letras e números)" required>
            <br>

            <label for="">Primeiro Nome</label>
            <input type="text" id="fname" name="fname" placeholder="Digite o seu primeiro nome" required>
            <br>

            <label for="">Último Nome</label>
            <input type="text" id="lname" name="lname" placeholder="Digite o seu Apelido" required>
            <br>

            <label for="">Endereço de Email</label>
            <input type="email" id="email" name="email" placeholder="Digite o seu Endereço de Email" required>
            <br>

            <label for="">Senha</label>
            <input type="password" id="pass1" name="pass1" placeholder="Crie uma senha forte" required>
            <br>

            <label for="">Confirme a sua Senha</label>
            <input type="password" id="pass2" name=pass2 placeholder="Confirme a sua senha" required>
            <br>
            
            <button type="submit">Criar Conta</button>

        </form>    
        


</body>
</html>